:root {
    --dark-gray : #333333 ; 
    --gray : #828282 ; 
    --light-gray : #E0E0E0 ; 
    --bg-gray : #252329 ; 
    --border-gray : #BDBDBD ; 
    --white : #FFFFFF ; 
    --blue : #2F80ED ; 
    --light-blue : #2D9CDB ; 
    --bg-white : #FAFAFB ; 
    --fw-600 : 600 ; 
    --fw-400 : 400 ; 
}
html {
    box-sizing: border-box;
}
* , *::after , *::before {
    box-sizing: inherit ;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: auto 0 ;

}

main , footer {
    width: 100%;
    font-size: 1rem ; 
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    max-height: 634.3px;
    min-height: 600px;
}
.container {
    width: 90%;
}
.container , .footer {
    max-width: 356.48;
}
.footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.765625rem;
}
.container  {
    height: 100%;
}
.footer > p {
    margin: 0;
}
h3 {
    font-size: 1.2rem;
    font-weight: 600;
    max-width: 19.93rem;
}
h3 , .description {
    color: var(--dark-gray);
}
h3 {
    margin-bottom: 0.90625rem;
}
.description {
    max-width: 19.93rem;
    margin-bottom: 2rem;
}
.gradetext {
    font-size: 0.8rem;
    color: var(--gray);
}
input , button {
    width: 100% ;
}
.nav-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footertext {
    color: var(--gray);
}
.mail , .lock {
    position: absolute ;
    padding: 0.8125rem;
    font-size: 1.2rem;
    color: var(--gray);
}
.mail {
    left: 0%;
}
.lock {
    top: 30%;
    left: 0%;
}
input {
    border: 1px solid #BDBDBD ;
    padding: 0.8125rem;
    border-radius: 0.5rem;
    text-indent: 2rem;
    margin-bottom: 0.90625rem;
    color: var(--dark-gray);
}
input:placeholder-shown {
    color: var(--gray);
}
button {
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 0.5rem;
    height: 2.375rem ;
    margin-bottom: 2rem;
}
.options-text {
    text-align: center;
}
ul {
    margin: 1.4rem 0rem 1.6875rem 0rem;
    margin-top: 1.4rem;
    padding: 0;
    display: flex; 
    gap: 2rem;
    justify-content: center;
}
li {
    list-style: none;
}
i {
    font-size: 1.125rem ;
    color: var(--gray);
    outline: 1px solid var(--gray);
    border-radius: 50%;
    outline-offset: 0.5rem;
}
a {
    text-decoration: none;
}
.login {
    color: var(--light-blue);
}

@media only screen and (min-width:375px) {
    main {
        border: 1px solid var(--border-gray);
        border-radius: 1.5rem;
    }
    footer , main {
        max-width: 500px;
        width: 80%;
    }
    main {
        height: 80%;
    }
    .container {
        height: 90%;
    }
    
}
@media only screen and (min-width:800px) {
    main  , footer {
        max-width: 500px;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background: var(--dark-gray);
    }
    path:first-child  {
        fill: var(--light-gray);
    }
    h3 , .description {
        color: var(--light-gray);
    }
    input {
        background-color: var(--dark-gray);
    }
}



