@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 padding: 0;
 margin : 0 ; 
 box-sizing: border-box;
 scroll-behavior: smooth;
}
:root {
 --dark-gray : #333333 ; 
 --gray : #828282 ; 
 --light-gray : #E0E0E0 ; 
 --bg-gray : #252329 ; 
 --border-gray : #BDBDBD ; 
 --white : #FFFFFF ; 
 --blue : #2F80ED ; 
 --light-blue : #2D9CDB ; 
 --bg-white : #FAFAFB ; 
 --fw-600 : 600 ; 
 --fw-400 : 400 ; 
}
input#file {
 display: inline-block;
 position: relative;
 left: -19%;
 width: 5%;
 padding: 80px 0 0 0;
 height: 50px;
 overflow: hidden;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 background: url('./Images/photo_camera_FILL1_wght400_GRAD0_opsz48.svg') center center no-repeat;
 border: none !important;
 background-size: 30px 30px;
}

html {
    box-sizing: border-box;
}
* , *::after , *::before {
    box-sizing: inherit ;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem 0rem;

}

main , footer {
    width: 100%;
    font-size: 1rem ; 
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    max-height: 634.3px;
    min-height: 600px;
}
.container {
    width: 90%;
}
.container , .footer {
    max-width: 356.48;
}
.footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.765625rem;
}
.container  {
    padding: 50px;
    height: 100%;
    width: 100%;
    border:1px solid #828282 ; 
    border-radius: 10px;
}
.footer > p {
    margin: 0;
}
h3 {
    font-size: 1.2rem;
    font-weight: 600;
    max-width: 19.93rem;
}
h3 , .description {
    color: var(--dark-gray);
}
h3 {
    margin-bottom: 0.90625rem;
}
.description {
    max-width: 19.93rem;
    margin-bottom: 2rem;
}
.gradetext {
    font-size: 0.8rem;
    color: var(--gray);
}
.InputType ,  .BtnQ{
    width: 100% ;
}
.nav-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footertext {
    color: var(--gray);
}
.mail , .lock {
    position: absolute ;
    padding: 0.8125rem;
    font-size: 1.2rem;
    color: var(--gray);
}
.mail {
    left: 0%;
}
.lock {
    top: 30%;
    left: 0%;
}
.InputType {
    outline: 1px solid #BDBDBD ;
    padding: 0.8125rem;
    border-radius: 0.5rem;
    border: none;
    text-indent: 2rem;
    margin-bottom: 0.90625rem;
    color: var(--dark-gray);
}
.InputType:placeholder-shown {
    color: var(--gray);
}
.BtnQ {
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 0.5rem;
    height: 2.375rem ;
    margin-bottom: 2rem;
    cursor: pointer;
}
.options-text {
    text-align: center;
}
ul {
    margin: 1.4rem 0rem 1.6875rem 0rem;
    margin-top: 1.4rem;
    padding: 0;
    display: flex; 
    gap: 2rem;
    justify-content: center;
}
li {
    list-style: none;
}
i {
    font-size: 1.125rem ;
    color: var(--gray);
    outline: 1px solid var(--gray);
    border-radius: 50%;
    outline-offset: 0.5rem;
}
a {
    text-decoration: none;
}
.login {
    color: var(--light-blue);
}
.sr-only {
    color: var(--light-gray);
}
/* setting the media queries */
@media only screen and (max-width:375px) {
 .container{
    border: none !important;
 }
    footer , main {
        max-width: 500px;
        width: 80%;
    }
    main {
        height: 80%;
    }
    .container {
        height: 90%;
    }
    
}
@media only screen and (min-width:800px) {
    main  , footer {
        max-width: 500px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--dark-gray);
    }
    path:first-child  {
        fill: var(--light-gray);
    }
    h1 , h2 , p , .description  , h3 {
        color: var(--light-gray);
    }
    input , .InputType , textarea {
        background-color: var(--dark-gray);
        color: var(--light-gray);
    }
   }

@layer {
 
 .BtnQ {
  @apply hover:bg-HoverBackBtnState !important; 
 }
 .BtnT{
  @apply hover:outline-HoverBackBtnState hover:outline-1 hover:outline hover:text-HoverBackBtnState !important; 
 }
 .Card{
  @apply h-fit w-full sm:w-[120%] border-[1px] border-gray-600 border-solid rounded-md transition-all !important ; 
 }
 .CardEditing{
  @apply sm:w-[150%] !important; 
 }
 .CardChange{
  @apply p-[3.5%] border-none flex flex-col items-start w-[90%] ; 
 }
 .TitleHolder{
  @apply flex justify-center items-center flex-col ; 
 }
 .GetInfo{
  @apply font-normal text-3xl !important; 
 }
 .editSection{
  @apply m-[3.5%] flex items-center justify-between  ; 
 }
 .Btn{
  @apply rounded-xl bg-transparent cursor-pointer border-2 border-gray-600 border-solid text-xl h-10 w-20 py-[.5rem] px-[1.5rem] text-primaryFont hover:border-BackBtn hover:bg-BackBtn dark:text-white dark:border-white !important ; 
 }
 .Info{
  @apply m-[3.5%] flex items-center !important ; 
 }
 .leftInfo{
  @apply basis-[50%] sm:basis-[30%];
 }
 .rightInfo{
  @apply basis-[50%] sm:basis-[30%];
 }
 .InfoData{
  @apply text-xl font-medium leading-6 tracking-wide ; 
 }
 .BackBtn{
  @apply flex items-center  font-semibold text-BackBtn relative left-[-38%] sm:left-[-53%] text-xl hover:text-HoverBackBtnState !important; 
 }
 .arrow{
  @apply text-[19px] leading-[0px] hover:fill-HoverBackBtnState	!important;  
 }
 .format{
  @apply relative flex items-start flex-col gap-2 w-full !important; 
 }
 .Image{
  @apply flex items-center gap-4 ; 
 }
 .LoadingImages{
  @apply absolute left-[-40%]; 
 }
 .Label{
  @apply font-semibold first-letter:capitalize; 
 }
 .Input{
  @apply border-[1px] border-solid p-3 w-full border-primaryFont text-lg rounded-xl focus:outline-none !important; 
 }
 .textarea{
  @apply border-2 border-primaryFont w-full border-solid rounded-xl focus:outline-none p-3 text-lg !important; 
 }
 .Error{
  @apply text-red-600 font-semibold; 
 }
 .BtnSave{
  @apply bg-BackBtn text-white px-4 py-2 mt-3 rounded-lg cursor-pointer font-bold !important; 
 }
}